<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href=<%=dashboard_index_path%>>Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%=vacancies_path%>>Vacancies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%=enquiries_path%>>Enquiries</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%=settings_path%>>Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%=company_path%>>Company Details</a>
  </li>
</ul>
