<%= form_with(model: company, url: company_path, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :company_description %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :company_size %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :company_website %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :company_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
